body {
    /* background-color: green; */
}


body {
    background-color: tan;
    /* height: 100%; */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

body #meme {

    grid-template-columns: 1fr;
    background-color: whitesmoke;
    height: 65%;
    margin: 15px;
    padding: 15px;
    border: red 15px;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
}

body.box {

    overflow: auto;

}
