body {
    /* background-color: green; */
}

body {
    background-color: tan;
    /* height: 100%; */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: center;
    font-size: 30px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body aside {
    align-items: center;
    /* justify-content: flex-end; */

}

/* a [href='https://api.imgflip.com/get_memes'] {
    height: 10px;
} */
body.box {
    overflow: auto;
}

#meme {
    height: 100%;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgrey;
}

#joke {
    height: 100%;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgrey;
}